# Ignore config files
pia.config

# Ignore my firewall scripts
firewall_allowVPNTrafficOnly.sh
firewall_allowAllTraffic.sh

# Ignore dynamically created files
pia_registerPort.sh
_forwardPort.log
_lastBindRequest.log